@charset "utf-8";
.index-mini {
  font-size: 16px;
  text-indent: 50px;
  line-height: 30px;
}

section {
  margin: 3rem 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

section.top_img {
  background: url(img/top_kaigo.png) center no-repeat;
  background-size: cover;
  position: relative;
  padding: 2rem;
  margin: 0;
}

section.top_img h1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  section.top_img {
    padding: 25rem 5rem;
  }

  section.top_img h1 {
    font-size: 2.5rem;
  }
}

section.top_img p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

div.PR_01 {
  max-width: 800px;
  margin: 0 auto 20px;
  border: 5px solid #1cbbd0;
  padding: 20px;
}

div.PR_01 h2 {
  border-bottom: 2px solid #1cbbd0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.PR_01 ul li {
  text-align: left;
  margin-left: 1.5em;
  text-indent: -1.5em;
}

div.PR_01 ul li span {
  color: #1cbbd0;
}

div.PR_02 {
  max-width: 800px;
  margin: 0 auto 20px;
  border: 5px solid #1cbbd0;
  padding: 20px;
}

div.PR_02 h2 {
  border-bottom: 2px solid #1cbbd0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.PR_02 ul li {
  margin-bottom: 15px;
}

section.inquiry a {
  background-color: #ff6600;
  padding: 20px 50px;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 20px;
}

div.step {
  max-width: 800px;
  margin: 0 auto 20px;
  border: 5px solid #1cbbd0;
  padding: 20px;
  text-align: left;
}

div .step ul {
  border-bottom: 2px solid #1cbbd0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div .step ul li {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5em;
}

div .step ul li .nam {
  background: #1cbbd0;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  margin-left: 10px;
}

div .step p {
}

section.profile {
  border: 1px solid #cccccc;
  padding: 20px;
}

section.profile p {
}

section.profile img {
  max-width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  section.profile img {
    max-width: 360px;
  }
}

section.form {
}

section.form iframe {
  height: 1285px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

@media screen and (min-width: 1024px) {
  section.form iframe {
    height: 1285px;
  }
}

section.form p {
}

section div.company {
}

section div.company table {
  max-width: 800px;
  margin: 0 auto 2rem;
}

section div.company table th {
  background: #efefef;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

section div.company table td {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

section div.company table td:first-child {
  font-weight: bold;
}

div.map {
}

div.section-title {
  font-size: 1rem;
  margin-bottom: 20px;
}
div.section-title h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  /* border-bottom: 2px solid #f4a47b; */
}
div.section-title h2 span {
  font-size: 1.5rem;
}
div.section-title p {
}
/* .section-bg {
  position: relative;
  overflow: hidden;
  background-color: #46c759;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-bg:before {
  content: "";
  position: absolute;
  left: 0;
  width: 120%;
  height: 80%;
  margin: -10px -10% 0;
  background: #fff;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.section-bg_inner {
  padding: 20px 0 50px;
  position: relative;
} */
.section-dc {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
}
.section-dc h3 {
  font-size: 1.5em;
}

.section-dc .section-title h2 {
  position: relative;
  border-bottom: 4px solid #46c759;
  line-height: 1.2;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.section-dc .section-title h2:after {
  border: 25px solid transparent;
  border-top-color: #46c759;
  border-bottom-width: 0;
  bottom: -25px;
  content: "";
  display: block;
  left: calc(50% - 25px);
  position: absolute;
  width: 0;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100%;
}
#page-top a {
  background: #e4ff0063;
  text-decoration: none;
  color: #0081c2;
  width: 45px;
  padding: 10px 0px 10px 7px;
  text-align: center;
  display: block;
  border-radius: 4px;
}
#page-top a:hover {
  text-decoration: none;
  background: #e4ff00;
}
