/*-------------------
⭐︎⭐︎⭐︎⭐︎⭐︎共通⭐︎⭐︎⭐︎⭐︎⭐︎
--------------------*/
/*非表示*/
.pc-none {display: none;}
.middle{display: none;}
.pmark_sp{display: none;}

/*フッター*/
#footer ul {
    margin: 15px 0 5px 0;
    padding-top: 10;
    padding-bottom: 20px;}

/*共通の枠*/
.wrapper {
  width: 1180px;
	max-width: 1180px;
  margin: 0 auto;
}
.wrapper2 {
  width: 960px;
	max-width: 960px;
  margin: 0 auto;
}
.min_wrapper {
  width: 740px;
	max-width: 740px;
  margin: 0 auto;
}
/*追加の枠*/
.contact_2_wrapper {
  width: 1280px;
	max-width: 1280px;
  margin: 0 auto;
}
#point3 .wrapper{
	width: 1080px;
	max-width: 1080px;
  margin: 0 auto;}


/*余白*/
.stack-s{padding-bottom: 4px;}
.stack-m{padding-bottom: 8px;}
.stack-l{padding-bottom: 16px;}
.stack-b{padding-bottom: 20px;}

.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}


/*テキスト装飾*/
*{margin: 0;padding: 0;line-height: 0;}
h1{line-height: 1.8em;}

h2{
	font-size: 27px;
	line-height: 1.4em;
}

h3 {
  font-size: 36px;
	line-height: 1.5em;
  text-align: center;
  margin: 20px auto;
}
h4{
	font-size:20px;
	line-height: 1.5em;
}
h5{
	font-size:17px;
	line-height: 1.5em;
}

small{
	font-size: 0.7em;
	line-height: 1.5em;

}

p {
  	font-size: 17px;
	line-height: 1.6em;
	font-weight: bold;;
}
.point{color: #E95D04;}
.point2{color: #5ACBE5;}

.marker1{background:linear-gradient(transparent 60%, #FFECC7 60%);}

/*横並び*/
.flame{
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.box3,.box4,.box5,.box6{border: 2px solid #000;}

.box3{width: 300px;margin-left: 20px;}
.box4{flex:1;}
.box5{width: 540px;}

.box6{flex:1;}
.box7{width: 200px;margin-right: 20px;}
.box8{flex:1;}
.box9{width: 700px;}
.box10{flex:1;}
.box_50{width: 50%;}


/*-------------------
⭐︎⭐︎⭐︎⭐︎⭐︎main背景⭐︎⭐︎⭐︎⭐︎⭐︎
--------------------*/

/*-------------------
⭐︎⭐︎⭐︎⭐︎⭐︎セクション別⭐︎⭐︎⭐︎⭐︎⭐︎
--------------------*/

/*--------追従ボタン-----------*/
.fixed_btn
{
  position: fixed;
	z-index: 99999;
  bottom: -8px; 
  right: 15%;
  padding: 28px 120px 30px 50px;	
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(#3FA6E0 0%, #2E3192 100%);
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	display: block;
	cursor: pointer;
  transition: .3s;
	
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
}

/*このクラスが付与されると表示する*/
.active{
  opacity: 1;
  visibility: visible;
}

.fixed_btn::before {
        content: '';
        position: absolute;
        top:-92px;
        right:-60px;
        width: 170px;
        height: 170px;
        background-image: url("../img/button_icon.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;}


/*--------トップ部分-----------*/
/*トップ画像1280px*/
.top img,.top_sp img{width: 100%;}

/*カナミックロゴの位置調整*/
.top-bg{position: relative;}

.company_logo_top{
	position: absolute;
	top: 4%;
	left: 3%;}

.toptxt{
	position: absolute;
	top: 13%;
	left: 3%;}
.toptxt img{width: 320px;}

.toptxt img{
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

/*読み込み時にテキスト表示*/
@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

.company_logo_top img{width: 400px;}

/*----------------------
　　導入
------------------------*/

.top-box1{width: 50%;margin-right: 18px;}
.top-box2{flex:1;}

.top-box1{
	background-image: url("../img/catch.png");
	background-size: 100%;
	background-repeat:no-repeat;
	background-position:bottom center;
}
.top-box2{padding: 60px 0 70px 0;}

/*----------------------
　　section.question
------------------------*/
.question{
	text-align: center;
}
.question .wrapper2{
	position: relative;
	background: #dee6e9;
	padding: 14% 2% 2% 2%;
	border-radius: 10px;
}
.question-title{
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.question-title img{
	width: 60%;
	margin: 0 auto;
}

.question-box{
	width: 30%;
	margin: 0 auto;
	padding: 4% 2%;
	border-radius: 10px;
	background: #fff;
	color: #5ACBE5;
}

/*----------------------
　　section.answer
------------------------*/
.answer{
	text-align: center;
	margin: 0 auto;
}


/*----------------------
　　section.connect
------------------------*/
.connect{
	background: #5ACBE5;
	text-align: center;
	margin: 0 auto;
}


/*----------------------
　　section.merit-だれとでも連携できるからアナログ作業は不要
------------------------*/
.merit{
	text-align: center;
	margin: 0 auto;
}
.merit h2{
	font-size: 2rem;
	line-height: 1.6em;
}
.merit h3{
	font-size: 1.4em;
	color:  #5ACBE5;
}

.merit .flame{
	justify-content: center;
}

.merit-box{
	/* border: 1px solid #111; */
	width: 40%;
	/* margin: 0 auto; */
}

.merit-box1{
	margin: 0 30px 0 10px;
}

.merit-box2 {
	border-radius: 10px;
	background:#FFECC7;
}

.merit-txt{
	padding: 2.5% 7%;}


.merit-txt p{
	/* padding-left: 1.4em; */
	text-align: left;
	font-size: 1.2em;
}

/*----------------------
　　section.howto連携の方法
------------------------*/
.howto{
	text-align: center;
	margin: 0 auto;
}
.howto .wrapper2{
	position: relative;
	border: 5px dotted #5ACBE5;
}
.howto .inner-title{
	position: absolute;
	top: -18%;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 40%;
}
.howto h3{
	margin: 30px auto 15px auto;
	font-size: 1.8em;
	color: #5ACBE5;
	border-bottom: #5ACBE5 2px solid;
}
.howto .flame{
	padding: 0 1rem 0.5rem 1rem;
}

.howto-box{
	width: 50%;
	margin: 0 auto;
	padding: 4% 2% 2% 2%;
	/* border: 1px solid #111; */
}

.howto-box p{
	font-size:0.9rem;
	text-align: left;
}

.how-to-boxinbox1{
	width: 180px;
	margin-right: 15px;
}

.how-to-boxinbox2{flex:1;}


/*-------cta-a---------*/
.cta-a .flame{
	height: 300px;
}

.cta-a .min_wrapper{
	background: #C0FEFF;
	height: auto;
	padding: 4% 5%;
	border-radius: 30px 30px 0 0;
}

.cta-a-row1{
	flex:1;

}

.cta-a-row2{
	width: 300px;
	position: relative;
}

.cat-a-img{
	position: absolute;
	bottom: 0;
}

.cat-a-img img{
	width: 100%;
}

.cta-a-txt1{
	color:#5ACBE5;
	font-size: 1.8em;
}

.cta-a-txt2{
	font-size: 1em;
}

.cta-a-button{
	background: #F7931E;
	margin: 1rem auto;
	padding: 1.5rem 3.2rem;
	color: #fff;
	border-radius: 60px;
	border:none;
	font-size: 1.2rem;
	font-weight: bold;
}

/*-------function---------*/
.function{
	background: #5ACBE5;
	color:#fff;
	text-align: center;
	padding: 2% 0;
}


.function-txt1{
	font-size: 1.8rem;
}

.function-txt2{
	font-size: 0.8rem;
	color: #000;
	background:#fff;
	margin: 0 auto;
	padding: 3px 2px 1px 2px;
	border-radius: 20px;
	width: 60%;
}


/*-------会社概要---------*/
#company_profile .min_wrapper{padding-top: 65px;}

#company_profile h2{
	margin-bottom: 25px;
	font-size: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
}

#footer .f_logo img{width: 42%;}
#footer p{line-height: 1.8em;}
#footer .flame{width: 100%;}

.pmark_r img{
	width: 70px;
	vertical-align: bottom;
}

.f_prime ul{
	vertical-align: bottom;
	display: flex;}
#footer .f_prime ul li{
	vertical-align: bottom!important;}

#footer ul li{vertical-align: bottom;}

#footer .f_prime>ul {
	font-size: 16px;
	font-weight: bold;
	color: #b07e0f!important; 
	margin-bottom: 10px;
}

.p_img,
.a_img,
.y_img{
	display: inline-block;
	width: 130px;
	text-align: center;
}
.p_img img{width: 68%;}
.a_img img{width: 60%;}
.y_img img{width: 100%;}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.merit-layout {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.merit-layout img {
  width: 28%;
  margin: 30px 10px;
}

.pic-time, .pic-cost {
  margin-top: 20px;
}

.merit-icon {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

section#merit-family {
  background: #F0F4F6;
  padding: 50px 0;
}

.merit-family-bg {
  background: #fff;
  border: 3px solid #80ADBC;
  border-radius: 10px;
  padding: 10px 40px;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  	.wrapper {width: 80%;}
	.min_wrapper {width: 70%;}
  	section.contact {width: 60%;}
	.contact_2_wrapper {width: 100%;}
}

@media only screen and (max-width: 1280px) {
	.toptxt{display: none;}
	.top{display: none;}
	.middle{display: block;}
}

@media only screen and (max-width: 1024px) {

  .sp-none {display: none;}
  .middre {display: none;}
  .pc-none {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	
	.pc-none img{
		text-align: center;
		margin: 0 auto;}
	
	#main{
	background-image: url("../img/back_a1.png"),url("../img/back_a2.png"),url("../img/back_p.png");
	background-size: 600px,600px,100%;
	background-repeat: no-repeat,no-repeat,no-repeat;
	background-position:top 14% right,top 38% left,top 55% center;
	}

	.wrapper {
    width: 96%;
    margin: 0 auto;}
	.wrapper2 {
    width: 96%;
    margin: 0 auto;}
	.min_wrapper {
    width: 92%;
    margin: 0 auto;}
	
	#main p {
    font-size: 21px;
    line-height: 1.8em;}
	
	.contact a.cta_btn {
		font-size: 1.3em;
		padding: 46px 0 40px 0;
	}
	.contact a.cta_btn span {font-size: 1.8em;}
	
	.remark1 {
    color: #E95D04;
    margin: 0px auto;
    font-size: 0.8em!important;
    padding-bottom: 6px;
    line-height: 1.6em!important;
	}
	.remark1 ,
	.cta_note_txt {
		text-align: center;
		margin: 0 auto;
 width: 90%;}
	
	#top .box1{display: none;}
	
	#about .box_50 img {width: 96%;}	
	
	#anxiety {width: 90%;margin: 0 auto;}
	#anxiety p {
    padding-bottom: 40px;
    font-size: 28px;
    line-height: 1.5em;
    text-align: left;
		}
	.m_check {
    position: absolute;
    top: -224px;}
	.m_check img {width: 300px;}
	
	#point3{background-image: none;}
	
	.m_point3_sp{
		width: 60%;
		margin: 0 auto 30px auto;}
	.m_point3_sp img{width: 100%;}

	.point_no img{
    width: 40%;
		padding-top: 20px;
	}
	.pointbox h4 {font-size: 40px;}

	.pointicon{
		width: 40%;
		margin: 10px auto 20px auto;
}
	.pointicon img{width: 100%;}
	
	.point1_txt,
	.point2_txt,
	.point3_txt{
		width: 70%;
		padding-bottom: 30px;
		text-align: center;
		margin: 0 auto;
	}
	
	.pointqr img{width: 90%;}
	
	
	/*--------------セクションごと------------*/
	
	.contact_2_wrapper {
    width: 100%;
    margin: 0 auto;}
	
	#point3 .wrapper {
    width: 100%;
    margin: 0 auto;}
	#point3 h3 {
    text-align: center;
    padding-bottom: 30px;
	}
	#point3 h3 img {width: 70%;}
	
	.movie_img {
		width: 60%;
		height: auto;
    margin: 0 auto;
    position: relative;}
	iframe{width: 100%;}
	
	.m_back img {display: none;}
	
	
	/*-------------コンタクト1,3-----------------*/
	.m_contact_sp{
		margin: 20px auto 0 auto;
		text-align: center;
	}
	#contact .catch2 img, #contact3 .catch2 img {display: none;}
	
	#contact .cta_bg,
	#contact3 .cta_bg{height: auto;}
	
	#contact .flex_box,
	#contact3 .flex_box{display: block;}
	
	.cta_text_box_small {
		display: block;
		text-align: center;}
	
	#contact .contact,
	#contact3 .contact{
		padding-bottom: 30px;}
	
	#contact .cta_txt .cta_kome,
	#contact3 .cta_txt .cta_kome {
    top: 8px;
    right: 130px;
    font-size: 2em;}
	
	/*コンタクトボタン余白幅*/
	.contact a.cta_btn,
	#contact .contact a.cta_btn,
	#contact3 .contact a.cta_btn,
	#contact2 .contact a.cta_btn,
	#contact4 .contact a.cta_btn
	{
		width: 80%;
		padding: 30px 0 30px 0;
		font-size: 1.2em;
		border-radius: 50px;
	}
	
	.contact a.cta_btn{width: 90%;}
	.contact a.cta_btn {font-size: 1.2em;}
	
	#contact .contact{margin-top: 0;}
	
	#contact .contact a.cta_btn, .contact a.cta_btn, #contact3 .contact a.cta_btn, .contact a.cta_btn {
  margin: 0px auto 10px auto;}
	
	#contact .catch2 img,
	#contact3 .catch2 img {width: 140px;}
	
	#contact .catch2,
	#contact3 .catch2 {
    top: -40px;
    right: 10px;
	}
	
	#contact .wrapper,
	#contact3 .wrapper {
		padding-top: 10px;
		background-image: url(http://localhost/kanamic/lp/k_houkan-online-seikyu/css/../img/dott.png);
    background-repeat: no-repeat;
    background-position: top right;
		background-size: cover;
		width: 100%;
	}
	
	#contact .cta_bg,
	#contact3 .cta_bg {background: none;}
	
	.m_contact{display: none;}
	#contact .m_contact img, #contact3 .m_contact img {
    width: 220px;
    margin-left: 40px;
    bottom: 50px;
	}
	
	/*コンタクト2*/
	#contact2 .triangle {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #fff;}
	
	#contact2 .flex_box {display: block;}
	
	.m_nayami_img{display: none;}
	
	#contact2 .hukidashi {
		width: 80%;
		margin: 25px auto;
		position: relative;
	}
	#contact2 .hukidashi::before {
		content: "";
		position: absolute;
		border: 40px solid transparent;
		border-top: 40px solid #fff;
		width: 0;
		height: 0;
		left: 44%;
		right: 0;
		top: 100%; /* 三角表示位置（要素上から）*/
	}
	
	#contact2 .cta_text_box_large {position: static;}
	
	#contact2 .cta_text_box_small,
	#contact4 .cta_text_box_small {
		display: block;
		margin-top: 0;
	}
	#contact2 .contact a.cta_btn {
		margin: 0px auto 10px auto;}
	
	#contact .contact, #contact3 .contact {
		margin-top: 0px;}
	
		
	
	#contact2 .cta2_bg {padding-bottom: 25px;}
	
	#contact2 .cta_txt .cta_kome {
    right: 120px;
    font-size: 2.2em;}
	#contact4 .cta_txt .cta_kome {
		top: 0px;
		right: 90px;}
	
	
	#contact4 .catch2 img{width: 95px;}
	#contact4 .catch2 {
    top: -10px;
    right: 0px;
	}
	
	#contact4 .cta_text_box_large {
    width: 100%;}
	
	#contact4 .contact {margin-top: 0px;}
	#contact4 .contact a.cta_btn {margin: 0px auto 10px auto;}
	
}



@media only screen and (max-width: 840px) {

	.pmark_r img{width: 70px;}

	.f_prime ul{display: flex;}
	#footer .f_prime>ul {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.p_img,
	.a_img,
	.y_img{
		width: 80px;
	}
	.p_img img{width: 68%;}
	.a_img img{width: 60%;}
	.y_img img{width: 100%;}
	
	
	/*フッターの会社ロゴサイズ*/
	#footer .f_logo img {width: 65%;}
	
	#footer .copy {
    padding-bottom: 70px;
	}
	
}


@media only screen and (max-width: 720px) {
	
	/*--------追従ボタン-----------*/
		.fixed_btn
		{
			bottom: -8px; 
			right: 15%;
			padding: 28px 120px 30px 50px;
			font-size: 14px;
		}
		.fixed_btn::before {
						content: '';
						position: absolute;
						top:-100px;
						right:-60px;
						width: 180px;
						height: 180px;
					}
	
	/*請求できないかも*/
	#anxiety p {
		font-size: 20px;
    line-height: 1.6em;
		padding-bottom: 60px;}
	.m_check img { width: 270px;}
	.m_check {top: -201px;}
	
	#contact2 .triangle {display: none;}
	
	/*悩み*/
	#contact2 .hukidashi {
		height: auto;
		margin-top: 30px;	
		padding: 20px 0;
	}
	#contact2 .hukidashi p {
    color: #4C4C6C;
    font-size: 1.6em;
		position: static;
		top: 13px;}
	#contact2 .cta_text_box_large {
    position: static;
    padding-top: 30px;
	}
	#contact2 .cta_text_box_large p.cta_txt2 span.cta_dot {
    padding-top: 0.2em;
	}
	#contact2 .cta_txt .cta_kome {
		top: -5%;
    right: 3%;
    font-size: 1.8em;
	}
	
	/*用語説明*/
	#about .about_title {
		width: 75%;}
	h3 {
    font-size: 26px;
    line-height: 1.5em;
    text-align: center;
    margin: 20px auto;
		}
	
	/*コンタクト*/
	#contact .cta_txt .cta_kome, #contact3 .cta_txt .cta_kome {
    top: 0;
		right: 20px;
	}
	#contact2 .contact a.cta_btn {width: 88%;}
	
	#contact .cta_text_box_large p,
	#contact2 .cta_text_box_large p,
	#contact3 .cta_text_box_large p {
		font-size: 19px;}
	
	/*ポイント*/
	#point3 h3 {padding-bottom: 0px;}
	
	.point_no img {width: 30%;}
	.pointbox h4 {font-size: 28px;}
	
	/*動画*/
	.movie_txt img{width: 80%;}
	.movie_img1 {
		width: 100%;
		position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
	}
	
	.movie_img1 iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
	}
	
	/*最後のCTA*/
	.m_back{display: none;}
	
	#contact4 .attention_mark img {
    margin-top: 30px;
	}
	
	#contact4 .cta_text_box_small {
    display: block;
    margin-left: 0;
    margin-top: 0;
    width: 82%;
		margin: 0 auto;
	}
	#contact4 .cta_txt .cta_kome {
    right: 10px;
	}
	#contact4 .cta_text_box_large p.cta_txt2 span.cta_dot {
    padding-top: 0.1em;
	}
	
	#contact4 .cta_text_box_large p {
    font-size: 16px;
	}
	
	#contact4 .cta_tel .cta_logo img {
    width: 80%;
		margin: 0 auto;
		text-align: center;
    margin-left: 4%;
	}
	#contact4 .catch2 img {display: none;}
	
	#contact4 .cta_tel_num .cta_tel_num_box2 a p {
    font-size: 34px;
    line-height: 0.5em;}
	#contact4 .cta_tel_num .cta_tel_num_box2 p {
    font-size: 9px;
    padding-bottom: 10px;}
	
	/*フッターの会社ロゴサイズ*/
	#footer .f_logo img {width: 92%;}
	
}


@media only screen and (max-width: 600px) {
	
	
		#company_profile h2 {font-size: 2.2em;}

		/*会社概要table,pマークtable*/
		.c_txt_table,
		.p_txt_table{width:80%;}

		.p_img{width: 80px;}
	
		/*フッターの会社ロゴサイズ*/
		#footer .f_logo img {width: 94%;}
}



@media only screen and (max-width: 520px) {

	/*.pmark_r img{width: 60px;}*/

	.f_prime ul{display: flex;}
	#footer .f_prime>ul {
		font-size: 15px;
	}
	.p_img,
	.a_img,
	.y_img{
		width: 70px;
	}
	
	
}



@media only screen and (max-width: 480px) {

	/*共通枠*/
	body{min-width: 380px;}
	.pmark_sp{display: block;}
	
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
	.min_wrapper {
    width: 90%;
    margin: 0 auto;
  }
	.wrapper2 {
    width: 94%;
    margin: 0 auto;
  }
	
	#main { background-image:none;}
	
	/*余白*/
	section {margin-bottom: 30px;}
	.mb50 {margin-bottom: 30px!important;}
	#contact2 {margin-bottom: 0px;}

	/*文字*/	
  h3 {font-size: 24px;}
	#main p {
    font-size: 18px;
		line-height: 1.8em;}
	.remark1 {
    font-size: 0.8em!important;
		padding-top: 8px;
    padding-bottom: 8px;
	}

	/*コンタクト*/
	.cta_wrapper {
		margin-top: 20px;}
	
	section.contact {width: 90%;}
	.m_contact_sp{width: 90%;}
	
	.contact a.cta_btn{width: 90%;}
	
	.contact a.cta_btn,
	#contact2 .contact a.cta_btn 
		{
    font-size: 0.8em;
    padding: 30px 10px 30px 10px;
		line-height: 1.5em;
		letter-spacing: 0;
		border-radius: 50px;
	}
	.contact a.cta_btn{font-size: 1.2em;}
	
	#contact2 .contact a.cta_btn {font-size:1.2em;}
	
	#contact4 .contact a.cta_btn {font-size:1.4em;}
	
	/*チェックリスト*/
	#checklist img {width: 98%;}

	/*請求できないかも*/
	#anxiety p {padding-bottom: 160px;}
	.m_check {top: -172px;}
	.m_check img {width: 230px;}
	
	#contact2 .triangle {display: none;}
	#contact2 .cta_text_box_large {
    padding-top: 20px;
	}
	
	/*悩み*/
	#contact2 .hukidashi {
    width: 90%;
    margin: 25px auto;
	}
	
	#contact2 .hukidashi p {
    line-height: 1.6em;
    font-size: 0.9em;
    top: 0px;
	}	
	#contact2 .hukidashi {
    padding: 20px 0;
		height: auto;}

	/*※ジルシ*/
	#contact .cta_txt .cta_kome,
	#contact3 .cta_txt .cta_kome,
	#contact2 .cta_txt .cta_kome ,
	#contact4 .cta_txt .cta_kome 
	{
		top: -5%;
    right: 3%;
    font-size: 1.8em;
	}
	
	/*義務化オレンジ点*/
	#contact .cta_text_box_large p.cta_txt2 span.cta_dot, #contact3 .cta_text_box_large p.cta_txt2 span.cta_do,
	#contact2 .cta_text_box_large p.cta_txt2 span.cta_dot{
    background-image: radial-gradient(circle at center, #EFC550 20%, transparent 20%);
    padding-top: 0.2em;}
	#contact4 .cta_text_box_large p.cta_txt2 span.cta_dot{
    background-image: radial-gradient(circle at center, #EFC550 20%, transparent 20%);
    padding-top: 0.1em;}
	/*補助金*/
	#contact4 .cta_text_box_large p.cta_small_copy { font-size: 0.9em;}
	#contact .cta_text_box_large p.cta_small_copy,
	#contact2 .cta_text_box_large p.cta_small_copy,
	#contact3 .cta_text_box_large p.cta_small_copy {font-size: 0.9em;}
	
	/*用語説明*/
	#about .about_title {width: 82%;}
	#about .flame {
		display: block;
		padding-bottom: 0;
	}
	.box_50 {width: 92%; margin: 0 auto;}
	#about .flame img{width: 100%;}
	#about .flame img:first-of-type{margin-bottom: 30px;}
	
	/*おすすめポイント*/
	#point3 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#point3 h3{
		padding-bottom: 0;
		line-height: 0;
		margin: 0 auto;
}
	#point3 h3 img {width: 80%;}
	.point1_txt, .point2_txt, .point3_txt {
    width: 95%;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;}

	.m_point3_sp{
		width: 55%;
		margin: 0 auto 30px auto;}
	.m_point3_sp img{width: 100%;}

	.point_no img{
    width: 25%;
		padding-top: 20px;
	}
	.pointbox h4 {font-size: 22px;}

	.pointicon{
		width: 40%;
		margin: 10px auto 20px auto;
}
	.pointicon img{width: 100%;}
	
	/*動画*/
	.m_back {display: none;}
	/*動画*/
	.movie_txt img{width: 90%;}
	.movie_img {width: 100%;}
	
	/*最後のCTA*/
	#contact4 .cta_text_box_small {
    display: block;
		width: 90%;}
	#contact4 .cta_text_box_large p.cta_txt2 {
    font-size: 2.4em;
    line-height: 1.3em;}
	#contact4 .catch2 {display: none;}
	#contact4 .cta_tel .cta_logo{text-align: center;}
	#contact4 .cta_tel .cta_logo img {
    width: 90%;
		margin: 0 auto;
    margin-left: 0;}
	#contact4 .cta_tel_num {display: block;}
	#contact4 .cta_tel_num .cta_tel_num_box1 img {display: none;}
	#contact4 .cta_tel_num .cta_tel_num_box2 a p {
		text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 38px;
    line-height: 0.4em;}
	#contact4 .cta_tel_num .cta_tel_num_box2 p.cta_tel_num_box2_txt1 {
    text-align: right;
    padding-right: 20px;
}
	#contact4 .cta_tel_num .cta_tel_num_box2 p {
		font-size: 11px;}
	#contact4 .cta_tel_num .cta_tel_num_box2 p {
		font-size: 11px;}
	
	
	/*会社概要 table縦並び*/
	#company_profile h2 {font-size: 1.8em;}
	/*会社概要table,pマークtable*/
	.c_txt_table,
	.p_txt_table,
	.c_txt_table tbody,
	.p_txt_table tbody,
	.c_txt_table tr,
	.p_txt_table tr,
	.c_txt_table td,
	.p_txt_table td,
	.c_txt_table th,
	.p_txt_table th
	{
		display: block;
 		width: 100%;
		text-align: center;}
	
	.c_txt_table tr,
	.p_txt_table tr{margin-bottom: 10px;}
	
	.c_txt_table tr td:first-child,
	.p_txt_table tr td span.num{font-weight: bold;}

	.p_txt_table{margin-top: 30px;}
	.p_img {
    width: 100px;
		margin: 10px auto;}
	
	
	.f_prime ul{display: flex;}
	#footer .flame{display: block;}
	
	/*PマークをPCの並びのものは非表示*/
	.p_img,
	.a_img,
	.y_img{
		display: none;
	}
	.pmark_sp{
		width: 70%;
		margin: 0 auto;
		padding-bottom: 10px;
	}
	/*Pマークスマホ並びのもの表示しサイズ指定*/
	.p_sp_img,
	.a_sp_img,
	.y_sp_img{
		display: inline-block;
		width: 30%;
	}
	.p_sp_img img{width: 75%;}
	.a_sp_img img{width: 60%;}
	.y_sp_img img{width: 90%;}
	
	#footer{
		text-align: center;
		height: 400px;
		background:none;
	}
	
	#footer .f_logo {margin-left: 0px;}
	#footer .f_prime{margin-left: 0%;}
	
	.f_prime ul {
		display: block;
		margin-bottom: 20px;
	}
	.f_prime ul img{
		width: 61px;
		margin-bottom: 10px;
		padding-bottom: 5px;
	}
	
	#footer .copy {
		padding-bottom: 150px;
    padding-left: 0px;
    text-align: center;
	}

  .company-item {flex-direction: column;}
  .company-item div:first-child {width: 100%;margin-right: 0;}
  .company-txt p:first-child {font-size: 18px;}
	
}


/*iPhone13 mini*/
@media only screen and (max-width: 380px) {
	
	
	.wrapper {
    min-width: 320px;
  }
	.min_wrapper {
    min-width: 280px;
  }
	.wrapper2 {
    min-width: 280px;
  }

	#contact4 .cta_tel_num .cta_tel_num_box2 a p {font-size: 33px;}
	
	#contact4 .cta_tel_num .cta_tel_num_box2 p {font-size: 10px;}
	
}
