@charset "utf-8";

/* Reset Default Style
------------------------------------------------------------- */

body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td{
margin:0px;
padding:0px;
font-size:100%;
font-weight:normal;
text-decoration:none;
}

a img{
border:none;
}

img{
vertical-align:middle;
}

h1,h2,h3{
font-size:100%;
}

ul{
list-style:none;
}
ol{
list-style:none;
}

hr{
display:none;
}

p{
margin:0px;
padding:0px;
text-align:justify;
text-justify:distribute;
}

em{
font-style:normal;
font-weight:bold;
}

table {
border-collapse: collapse;
width:100%;
}


.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
