@charset "utf-8";
/* CSS Document */

/***************************
　タイトル画像
**************************/

.ir #ttlArea .inner h1 {
	background: url(../img/sp/ttl_index.jpg) no-repeat left top;
}

/***************************
　レイアウト
**************************/

.ir .section .snav { width:96%; float:none; margin:0 auto 60px;}
.ir .section .main { margin:0 auto; width:100%;}
 h2 { position:relative; }
.ir .section .main .ttlL {
	font-size: 30px;
	font-weight: 700;
	background: url(../../common/img/sp/ico_line01.png) no-repeat left 10px;
	padding: 5px 0 5px 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	margin-left:0;
}

.ir .section .main h2 .btn-list{ position:absolute; right: 10px; top:15px; font-size:0.9rem; font-weight:normal;}
.ir .section .main h2 .btn-list a { display:inline-block; background:url(../../common/img/ico_arrow05.png) left center no-repeat;padding-left:25px;}
.ir .section .main .col { margin-bottom:60px;}
.ir .section .main .col .imgL{ text-align:center;}
.ir .section .main .col .imgL img { width:100%;}

.mb10 { margin-bottom:10px;}
.mb20 { margin-bottom:20px;}

/***************************
　サイドメニュー
**************************/

.ir .section .snav h1 { font-size:1.2rem; background-color:#f29715;padding:10px; box-sizing:border-box;width:100%; position:relative;}
.ir .section .snav h1 a { color:#FFF;background: url(../../common/img/ico_arrow03.png) no-repeat left center; padding: 0 0 0 35px;box-sizing:border-box; }
.ir .section .snav h1:after { content:" "; background:url(../../common/img/sp/ico_toggle_plus.png) 40px 15px no-repeat #f29715 ; width:20%; height:100%; position:absolute; top:0; left:80%;}
.ir .section .snav h1.open:after { content:" "; background:url(../../common/img/sp/ico_toggle_minus.png) 40px 15px no-repeat #f29715 ;position:absolute; top:0; left:80%; }
.ir .section .snav ul { display:none; }
.ir .section .snav ul li { border-bottom:1px solid #DDDDDD;background-color: #F3F3F3;}

.ir .section .snav ul li a {  padding: 10px 10px 10px 40px; display:block; box-sizing:border-box; line-height:1.4; display:block; position:relative; color:#333333; }
.ir .section .snav ul li a.active { font-weight:bold;background-color:rgba(150,150,150,0.6);}
.ir .section .snav ul li a:before {
	background:url(../../common/img/ico_circle_ss.png) no-repeat 10px center ;
	content: "";
    display: block;
    width: 30px;
    height: 16px;
    position: absolute;
    left: 0;
    top:0.75em;
    margin-top:0;
	z-index:10;}
.ir .section .snav ul li ol { display:none; background-color:#FFF;}

.ir .section .snav#management ul li ol.management, .ir .section .snav#library ul li ol.library, .ir .section .snav#stock ul li ol.stock { display:block; padding: 5px 0; }

.ir .section .snav ul li ol li { border-bottom:none;background-color:#FFF;}

.ir .section .snav ul li ol li a { padding: 5px 10px 5px 40px; font-size:0.85rem; }
.ir .section .snav ul li ol li a:before { background-image:none;} 

.ir .section .snav ul li ol li.active a { color:#f29715; }

/***************************
　ニュース
**************************/

.ir .main .topicList dl dt {
    padding:20px 0 0 0;
    float: none;
    width: 100%;
    box-sizing: border-box;
}
.ir .main .topicList dl dd {
    padding:0 0 20px 0;
    border-bottom: 2px dotted #333;
	width: 100%;
	box-sizing: border-box;
}
.ir .main .topicList dl dd.nodate { padding-left:15px;}
.ir .main .topicList dl dt span.label { width:5em; display:inline-block; text-align:center; font-size:0.8rem; color:#FFF; margin-left:10px; padding:0 10px;}
.cat-news-press { background-color: #69C;}
.cat-news-tanshin { background-color: #D83D41;}
.cat-news-yuho { background-color: #696;}
.cat-news-ir_material_for_fiscal_ym{ background-color: #99C;}
.cat-sub-ir_material1,
.cat-sub-id330{ background-color: #f1cd2d;}
.cat-news-pr,
.cat-sub-ir_material{ background-color: #ff7000;}

.ir .main .topicList dl dd:after { content:""; clear:both; }
.ir .main .topicList dl dd a.pdf { background:url(../img/icon_pdf.gif) right top no-repeat;padding-right:60px; background-size:contain;}

.yearSelect, #type { margin-bottom:20px;}
#type { width:98%; margin:0 auto;}
#type li { display:inline-block; margin-right:1px; margin-bottom:1px; width:49%; } 
#type li a { display:block; padding:10px 15px; background-color:#EEEEEE; color:#333333;}
#type li a:hover { text-decoration:none;background-color:#f29715; color:#FFFFFF;}
#type li.active a {background-color:#f29715; color:#FFFFFF;}


/***************************
　インデックス
**************************/

.index-container { 
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.index-container .block { width:100%; margin-bottom:20px;}
.index-container .block h2 { background:#F3F3F3 url(../../common/img/ico_arrow04.png) 10px center no-repeat; background-size:15px; padding-left:30px;}
.index-container .block a:hover h2 { background-color:#f8cb7b;}
.index-container .block a:hover{ text-decoration:none;}
.index-container .block ol { margin:10px 0 20px;}
.index-container .block ol li { padding-left:10px;}
.index-container .block ol li a:hover { text-decoration:underline;}


/***************************
　PDF box
**************************/

.pdf-box { overflow:hidden;padding:15px; box-sizing:border-box; border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.pdf-box img { float: left; margin-bottom:10px; }
.pdf-box p { clear:both; font-size:0.9rem; }


/***************************
　トップメッセージ
**************************/

.photo-box { width:100%; margin-bottom:40px; text-align:center;}
.photo-box img { margin-bottom:10px; width:100%; height:auto; max-width:200px;}
.photo-box p.caption { text-align:center;}
.message-txt { }


/***************************
　株主メモ
**************************/

.ir .formBlock {
    border-top: 1px solid #ccc;
    margin-bottom: 45px;
}
.ir .formBlock .box {
    display: table;
    width: 100%;
	border-collapse:collapse;
}
.ir .formBlock .box .ttl {
    background: #ffeccf none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    display: table-cell;
    padding: 20px;
    vertical-align: middle;
    width: 30% !important;
}
.ir .formBlock .box .ttl img {
    padding-left: 8px;
    vertical-align: middle;
}
.ir .formBlock .box .txt {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    display: table-cell;
    padding: 20px;
    vertical-align: middle;
    width: 70% !important;
}
.ir .formBlock .box .txt dl dd {
    margin-bottom: 20px;
}
.ir .formBlock .box .txt .sp {
    display: none;
}
.banner01{
	visibility: hidden;
	height: 20px;
}
.banner02{
	margin-top: 20px;
	width: auto;
}


/***************************
　FAQ
**************************/

.ir .main .faq-box dl { border-bottom: 1px dotted #ccc;}
.ir .main .faq-box.answer dl { margin-bottom:20px; margin-top: -80px; padding-top: 80px;}
.ir .main .faq-box dl dt { width:100%; float:none; margin-left:1.2em; text-indent:-1.2em;}
.ir .main .faq-box dl dt:before { content:"Q."; font-size:1.2rem;}
.ir .main .faq-box dl dd { width:100%; padding-left:0; padding:15px; box-sizing:border-box; border-bottom:none;margin-left:1.2em; text-indent:-1.2em;}
.ir .main .faq-box dl dd:before { content:"A."; font-size:1.2rem; color:#f29715;}
.ir .main .faq-box.answer dl p { text-align:right; margin-bottom:15px;}


/***************************
　電子公告追加
**************************/


.ir .main .topicList p a:after { content:""; clear:both; }
.ir .main .topicList p a { background:url(../img/icon_pdf.gif) right top no-repeat;padding-right:60px; background-size:contain;}


/*190920*/
.ir .main .topicList .pdfNote p,
.ir .main .topicList p.eir_pnexNote_item{
	padding:0;
}
