$breakpoints: (
  "xxl": "screen and (min-width: 1400px)",
  "xl": "screen and (min-width: 1200px) and (max-width: 1399px)",
  "lg": "screen and (min-width: 992px) and (max-width: 1199px)",
  "md": "screen and (min-width: 768px) and (max-width: 991px)",
  "sm": "screen and (max-width: 576px) and (max-width: 767px)",
  "under-xxl": "screen and (max-width: 1399px)",
  "under-xl": "screen and (max-width: 1199px)",
  "under-lg": "screen and (max-width: 991px)",
  "under-md": "screen and (max-width: 767px)",
  "under-sm": "screen and (max-width: 575px)",
) !default;

@mixin mq($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.only-pc {
  display: inline-block;
  @include mq(under-md) {
    display: none;
  }
}
.only-sp {
  display: none;
  @include mq(under-md) {
    display: inline-block;
  }
}

:root {
  font-size: 16px;
  --font-size-l5: 2.6rem;
  --font-size-l4: 2rem;
  --font-size-l3: 1.6rem;
  --font-size-l2: 1.33325rem;
  --font-size-l1: 1.1429rem;
  --font-size-m: 1rem;
  --font-size-s1: 0.8889rem;
  --font-size-s2: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.8;
  font-size: 16px;
  color: #4c4c6c;
}

h1 {
  font-size: var(--font-size-l4);
  @include mq(under-md) {
    font-size: var(--font-size-l3);
  }
}

h2 {
  font-size: var(--font-size-l3);
  @include mq(under-md) {
    font-size: var(--font-size-l2);
  }
}

h3 {
  font-size: var(--font-size-l2);
  @include mq(under-md) {
    font-size: var(--font-size-l1);
  }
}

h4 {
  font-size: var(--font-size-l1);
  @include mq(under-md) {
    font-size: var(--font-size-m);
  }
}

h5 {
  font-size: var(--font-size-m);
  @include mq(under-md) {
    font-size: var(--font-size-s1);
  }
}

.text {
  &.-size-xl {
    font-size: var(--font-size-l2);
    @include mq(under-md) {
      font-size: var(--font-size-l1);
    }
  }

  &.-size-lg {
    font-size: var(--font-size-l1);
    @include mq(under-md) {
      font-size: var(--font-size-m);
    }
  }
  &.-size-md {
    font-size: var(--font-size-m);
    @include mq(under-md) {
      font-size: var(--font-size-s1);
    }
  }
  &.-size-sm {
    font-size: var(--font-size-s1);
    @include mq(under-md) {
      font-size: var(--font-size-s2);
    }
  }
}

.wrapper {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  @include mq(under-lg) {
    width: 100%;
    padding: 0 1rem;
    max-width: 100%;
    margin: 0 auto;
  }

  &.-size-s {
    width: 680px;
    max-width: 680px;
    margin: 0 auto;
    @include mq(under-md) {
      width: 100%;
      max-width: auto;
      margin: 0 auto;
    }
  }
}

.inner {
  padding: 0 1rem;
}

@function get-stack-spacing-size($size: m) {
  @if $size == xs {
    @return 0.25rem;
  } @else if $size == s {
    @return 0.5rem;
  } @else if $size == m {
    @return 1rem;
  } @else if $size == l {
    @return 2rem;
  } @else if $size == xl {
    @return 3rem;
  } @else if $size == xxl {
    @return 6rem;
  } @else {
    @return 1rem;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  & > * + * {
    margin-top: get-stack-spacing-size();
  }
  @each $size in (xs, s, m, l, xl, xxl) {
    &.-size-#{$size} {
      & > * + * {
        margin-top: get-stack-spacing-size($size);
      }
    }
  }
}

.center {
  text-align: center;
}

/* 縁取り文字 */
.outline,
.outline2 {
  display: inline-block;
  letter-spacing: 1px; /* 文字間 */
  text-shadow: 3px 3px 0px #ffffff, -3px 3px 0px #ffffff, 3px -3px 0px #ffffff,
    -3px -3px 0px #ffffff, 3px 0px 0px #ffffff, 0px 3px 0px #ffffff,
    -3px 0px 0px #ffffff, 0px -3px 0px #ffffff;
}

.outline {
  color: #4c4c6c;
}

.outline2 {
  color: #f19200;
}

.strong {
  color: #ea5b02;
}

.underline1 {
  border-bottom: 3px solid #e95d04;
}
.underline2 {
  border-bottom: 3px solid #fff;
}
.underline3 {
  background: linear-gradient(transparent 80%, #ffb825 80%);
}

.header-section {
  position: relative;
  background: linear-gradient(84deg, #ea5c06 16.07%, #f45806 91.14%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  header {
    background-image: url("../img/header/background_pc.png");
    background-repeat: no-repeat;
    background-size: 1500px auto;
    background-position: top center;
    @include mq(under-md) {
      background-image: url("../img/header/background_sp.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: top center;
    }
  }
  .title-group {
    position: absolute;
    left: 2rem;
    top: 5rem;
    width: 55%;
    @include mq(under-md) {
      top: 10%;
      left: 0%;
      width: 100%;
    }
    ._copy {
      position: absolute;
    }
  }
  .company-group {
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 35%;
    @include mq(under-md) {
      top: 2%;
      width: 60%;
    }
    ._logo {
      margin: 0;
      padding: 0;
    }
  }
  .cta-group {
    position: absolute;
    left: 5rem;
    bottom: 10%;
    width: 40%;
    @include mq(under-lg) {
      bottom: 10%;
      width: 50%;
    }
    @include mq(under-md) {
      left: 5%;
      width: 90%;
    }
    ._link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 10rem;
      gap: 1rem;
      a {
        text-align: center;
        width: 100%;
        &:first-child {
          display: block;
          font-weight: bold;
          border-radius: 100px;
          color: #4c4c6c;
          background: #fff;
          filter: drop-shadow(0px 8px 0px #4c4c6c);
          height: 3rem;
          line-height: 3rem;
        }
        &:last-child {
          display: block;
          font-weight: bold;
          border-radius: 100px;
          color: #fff;
          background: #0080d7;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          filter: drop-shadow(0px 8px 0px #af4d1c);
          height: 3rem;
          img {
            width: 2rem;
          }
          span {
            padding: 0 2rem 0 0;
          }
          ::after {
            content: "";
            position: absolute;
            margin: 0 0 0 0.5rem;
            top: -30%;
            width: 5rem;
            height: 5rem;
            background-image: url("../img/cta/image_paper.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @include mq(under-md) {
              top: -1rem;
              right: -1rem;
              margin: auto;
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }
  }
  .photo-group {
    text-align: right;
    img {
      width: 55%;
      @include mq(under-md) {
        width: 100%;
      }
    }
  }
}

.read-section {
  padding: 6rem 0 0;
  @include mq(under-sm) {
    padding: 4rem 0 0;
  }
  ._title {
    text-align: center;
    font-size: var(--font-size-l5);
    position: relative;
    @include mq(under-sm) {
      font-size: var(--font-size-l4);
    }
    &::before {
      content: "";
      position: absolute;
      top: -9rem;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 10rem;
      height: 10rem;
      background-image: url("../img/read/icon_dounaru.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 999;
      @include mq(under-sm) {
        top: -8rem;
        width: 8rem;
        height: 8rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/read/photo_udegumi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
      width: 11rem;
      height: 11rem;
      @include mq(under-sm) {
        left: -20px;
        width: 100px;
        height: 100px;
      }
    }
  }
  ._subtitle {
    padding: 0.5rem;
    text-align: center;
    background: #4c4c6c;
    color: #fff;
    font-size: var(--font-size-l3);
    @include mq(under-sm) {
      font-size: var(--font-size-l2);
    }
  }
  ._text {
    font-weight: bold;
    line-height: 1.6;
    font-size: var(--font-size-l2);
    @include mq(under-sm) {
      font-size: var(--font-size-l1);
    }
  }
}

.schedule-section {
  text-align: center;
  background-color: #ffffff;
  background-image: radial-gradient(#f9e48c 16%, transparent 24%),
    radial-gradient(#f9e48c 16%, transparent 24%);
  background-position: 0 0, 9px 9px;
  background-size: 18px 18px;
  padding: 6rem 0;
  @include mq(under-sm) {
    padding: 4rem 0;
  }

  ._title {
    width: 75%;
    padding: 15px 0 12px 0;
    margin: 10px auto 50px auto;
    border-radius: 100px;
    background: #4c4c6c;
    color: #fff;
    letter-spacing: 0.15rem;
    line-height: 1.3em;
    position: relative;
    @include mq(under-sm) {
      width: 90%;
    }
    span {
      font-size: var(--font-size-l2);
    }
    &::before {
      content: "";
      position: absolute;
      top: -4rem;
      left: 0;
      width: 6rem;
      height: 6rem;
      background-image: url("../img/schedule/icon_change.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 4%;
      width: 140px;
      height: 140px;
      background-image: url("../img/schedule/picture_catch.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      @include mq(under-sm) {
        display: none;
      }
    }
    ._accent {
      color: #ffb825;
      font-size: 0.8em;
      letter-spacing: 0em;
    }
  }
}

.ikou-section {
  padding-top: 7rem;
  position: relative;
  @include mq(under-md) {
    padding-top: 0;
  }
  ._text {
    width: 100%;
    border-radius: 300px;
    background: #ffdecc;
    @include mq(under-md) {
      width: 90%;
      border-radius: 50px;
    }
    p {
      margin: 0 auto;
      padding: 5rem;
      text-align: left;
      font-weight: bold;
      font-size: var(--font-size-l3);
      @include mq(under-md) {
        padding: 2rem;
        font-size: var(--font-size-l1);
      }
    }
  }
  ._image {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    @include mq(under-md) {
      top: auto;
      bottom: -3rem;
    }
    img {
      width: 100%;
    }
  }
}

.move-section {
  text-align: center;
  p {
    margin: 0 auto;
    padding: 80px 0 25px 0;
    font-weight: bold;
    line-height: 1.7em;
    color: #f15a24;
    font-size: var(--font-size-l3);
    @include mq(under-md) {
      font-size: var(--font-size-l2);
    }
  }
  ._icon {
    padding-bottom: 30px;
    img {
      width: 80px;
    }
  }
}

.cta-section {
  background: #ea5b02;
  color: #fff;
  .message-group {
    display: flex;
    align-items: flex-end;
    @include mq(under-md) {
      flex-flow: column;
      flex-direction: column-reverse;
    }
  }
  ._image {
    flex-basis: 40%;
    text-align: center;
    line-height: 0;
    img {
      width: 100%;
      @include mq(under-md) {
        width: 50%;
      }
    }
  }
  ._text {
    flex-basis: 60%;
    padding: 2rem 1rem;
    text-align: center;
    ._title {
      font-size: var(--font-size-l3);
      font-weight: bold;
    }
    ._copy {
      font-size: var(--font-size-m);
    }
    ._balloon {
      text-align: center;
      img {
        width: 60%;
      }
    }
    ._button {
      display: block;
      font-weight: bold;
      border-radius: 1rem;
      color: #fff;
      background: #0080d7;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      filter: drop-shadow(0px 8px 0px #af4d1c);
      padding: 1rem;
      img {
        width: 3rem;
      }
      span {
        padding: 0 6rem 0 0;
        position: relative;
        @include mq(under-md) {
          padding: 0 1rem 0 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -2rem;
        right: -1rem;
        width: 7rem;
        height: 7rem;
        background-image: url("../img/cta/image_paper.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include mq(under-md) {
          top: -2rem;
          right: -1.5rem;
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}

.point-section {
  padding: 6rem 0;
  @include mq(under-sm) {
    padding: 3rem 0;
  }
  .information-group {
    display: flex;
    margin: 0 0 -4rem;
    @include mq(under-sm) {
      flex-flow: column;
      flex-direction: column;
    }
    ._text {
      flex-basis: 50%;
      padding: 0 0 0 3rem;
      @include mq(under-sm) {
        padding: 0;
        text-align: center;
      }
      ._subtitle {
        font-size: var(--font-size-l2);
        font-weight: bold;
        @include mq(under-sm) {
          font-size: var(--font-size-l1);
        }
      }
      ._title {
        font-size: var(--font-size-l4);
        font-weight: bold;
        @include mq(under-sm) {
          font-size: var(--font-size-l3);
        }
      }
      ._icon {
        img {
          width: 7rem;
        }
      }
    }
    ._image {
      flex-basis: 50%;
      line-height: 0;
      text-align: center;
      img {
        @include mq(under-sm) {
          width: 60%;
        }
      }
    }
  }
  ._tab {
    width: 9rem;
    line-height: 0;
    height: auto;
    position: relative;
    left: 4rem;
    @include mq(under-sm) {
      left: 2rem;
    }
    img {
      width: 100%;
      @include mq(under-sm) {
        width: 6rem;
      }
    }
  }
  .point-group {
    border: 0.5rem solid #4c4c6c;
    border-radius: 2rem;
    padding: 6rem 6rem;
    margin: 0 0 2rem;
    background: #fff;
    position: relative;
    @include mq(under-sm) {
      padding: 1.5rem;
    }
    .introduction-group {
      display: flex;
      gap: 2rem;
      @include mq(under-md) {
        flex-flow: column;
      }
      ._text {
        flex-basis: 80%;
        font-size: var(--font-size-l2);
        font-weight: bold;
        letter-spacing: 0.15rem;
        @include mq(under-md) {
          font-size: var(--font-size-l1);
        }
      }
      ._image {
        flex-basis: 20%;
        text-align: center;
        img {
          @include mq(under-md) {
            width: 60%;
          }
        }
      }
    }
    ._source {
      font-size: var(--font-size-s2);
      font-weight: bold;
    }
    .title-group {
      position: relative;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 5rem;
        margin: auto 0;
        width: 180px;
        height: 180px;
        background-image: url("../img/point/picture_question.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include mq(under-lg) {
          display: none;
        }
      }
      ._title {
        text-align: center;
        font-size: var(--font-size-l4);
        @include mq(under-sm) {
          font-size: var(--font-size-l3);
        }
      }
      ._subtitle {
        span {
          font-size: var(--font-size-l1);
          font-weight: bold;
          padding: 0.5rem 1rem;
        }
      }
    }
    ._midashi {
      font-size: var(--font-size-l3);
      @include mq(under-sm) {
        font-size: var(--font-size-l2);
      }
    }
    ._flexbox {
      display: flex;
      gap: 2rem;
      @include mq(under-md) {
        flex-flow: column;
      }
      ._box {
        flex-basis: 50%;
        font-weight: bold;
        ._text {
          letter-spacing: 0.15rem;
        }
      }
      ._panel {
        padding: 2rem;
        @include mq(under-md) {
          padding: 1.5rem;
        }

        p {
          background: #fff;
          margin-bottom: 18px;
          padding: 4% 6%;
          text-align: center;
          line-height: 1.4em;
        }
        ul {
          li {
            margin-left: 15px;
            line-height: 2em;
            font-weight: bold;
            font-size: 16px;
            &::before {
              content: "●";
            }
            span {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
  &.-point-1 {
    background-color: #ffffff;
    background-image: radial-gradient(#f9e7de 16%, transparent 24%),
      radial-gradient(#f9e7de 16%, transparent 24%);
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
    ._panel {
      background: #f4d9d0;
    }
    ._point {
      color: #f77d61;
    }
    ._label {
      background: #ffbba2;
    }
    ._marker {
      background: linear-gradient(transparent 60%, #f4d9d0 60%);
    }
  }

  &.-point-2 {
    background-color: #ffffff;
    background-image: radial-gradient(#f9e48c 16%, transparent 24%),
      radial-gradient(#f9e48c 16%, transparent 24%);
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
    ._point {
      color: #f7931e;
    }
    ._label {
      background: #ffb825;
    }
    ._marker {
      background: linear-gradient(transparent 60%, #ffdecc 60%);
    }
  }

  &.-point-3 {
    background-color: #ffffff;
    background-image: radial-gradient(#bfddef 16%, transparent 24%),
      radial-gradient(#bfddef 16%, transparent 24%);
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
    ._point {
      color: #3fa9f5;
    }
    ._label {
      background: #8eceef;
    }
    ._marker {
      background: linear-gradient(transparent 60%, #bfddef 60%);
    }
  }

  &.-point-4 {
    background-color: #ffffff;
    background-image: radial-gradient(#aef4cc 16%, transparent 24%),
      radial-gradient(#aef4cc 16%, transparent 24%);
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
    ._panel {
      background: #bbf9da;
    }

    ._point {
      color: #22b573;
    }
    ._label {
      background: #a2edc5;
    }
    ._marker {
      background: linear-gradient(transparent 60%, #bbf9da 60%);
    }
  }

  &.-point-5 {
    background-color: #ffffff;
    background-image: radial-gradient(#d1d9ed 16%, transparent 24%),
      radial-gradient(#d1d9ed 16%, transparent 24%);
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
    ._point {
      color: #8d95cc;
    }
    ._label {
      background: #aab3e0;
    }
    ._marker {
      background: linear-gradient(transparent 60%, #ced5ed 60%);
    }
  }
}

.footer-cta-section {
  background: #ea5b02;
  color: #fff;
  .message-group {
    display: flex;
    align-items: flex-end;
    @include mq(under-md) {
      flex-flow: column;
      flex-direction: column-reverse;
    }
  }
  ._image {
    flex-basis: 40%;
    text-align: center;
    line-height: 0;
    img {
      width: 100%;
      @include mq(under-md) {
        width: 50%;
      }
    }
  }
  ._text {
    flex-basis: 60%;
    padding: 2rem 1rem;
    text-align: center;
    ._title {
      font-size: var(--font-size-l3);
      font-weight: bold;
    }
    ._copy {
      font-size: var(--font-size-m);
    }
    ._balloon {
      text-align: center;
      img {
        width: 60%;
      }
    }
    ._button {
      display: block;
      font-weight: bold;
      border-radius: 1rem;
      color: #fff;
      background: #0080d7;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      filter: drop-shadow(0px 8px 0px #af4d1c);
      padding: 1rem;
      img {
        width: 3rem;
      }
      span {
        padding: 0 2rem 0 0;
        position: relative;
        @include mq(under-md) {
          padding: 0 2rem 0 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -2rem;
        right: -2rem;
        width: 7rem;
        height: 7rem;
        background-image: url("../img/footer/image_paper.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include mq(under-md) {
          top: -1.5rem;
          right: -1.5rem;
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
  ._address {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0 0 4rem;
    @include mq(under-md) {
      margin: 0;
    }
    ._phone {
      display: flex;
      gap: 1rem;
      align-items: center;
      ._label {
        flex-shrink: 30%;
      }
      ._number {
        flex-shrink: 70%;
      }
    }
    ._detail {
      color: #ea5b02;
    }
  }
}

.footer-section {
  padding-bottom: 10rem;
  ._border {
    border-top: 5px solid #ff932d;
    border-bottom: 5px solid #3979c5;
    margin-bottom: 2rem;
  }
  ._container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(under-sm) {
      flex-flow: column;
    }
  }
  ._logo {
    img {
      width: 24rem;
      @include mq(under-sm) {
        width: 100%;
      }
    }
  }
  .prime-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include mq(under-sm) {
      flex-flow: column;
    }
    ._logo {
      img {
        width: 3rem;
      }
    }
    ._title {
      color: #b07e0f;
      font-weight: bold;
      @include mq(under-sm) {
        text-align: center;
      }
    }
  }
  .icon-group {
    display: flex;
    align-items: center;
    ._icon {
      padding: 1rem;
      img {
        width: 5rem;
      }
    }
  }
  .link-group {
    ul {
      li {
        display: inline;
        border-left: solid 1px;
        padding: 0 1rem;
        &:first-child {
          border: none;
          padding: 0 1rem 0 0;
        }
      }
      @include mq(under-sm) {
        text-align: center;
      }
    }
  }
  ._copy {
    @include mq(under-sm) {
      text-align: center;
    }
  }
}

/*--------追従ボタン-----------*/
.fixed_btn {
  position: fixed;
  z-index: 99999;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 2rem;
  border: none;
  width: 25rem;
  background-image: linear-gradient(#3fa6e0 0%, #2e3192 100%);
  color: #fff;
  font-size: var(--font-size-m);
  border-radius: 1rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
  @include mq(under-md) {
    left: 1rem;
    width: auto;
    font-size: var(--font-size-s1);
  }
}
/*このクラスが付与されると表示する*/
.active {
  opacity: 1;
  visibility: visible;
}
.fixed_btn::before {
  content: "";
  position: absolute;
  line-height: 0;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 140px;
  background-image: url("../img/bottom/picture_yobikake.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/*テキストふわっと*/
.toptxt {
  position: absolute;
  top: 3%;
  right: 36%;
}

.toptxt img {
  width: 160px;
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*おすミキティを読み込み時に表示*/
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
